

<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">




      <form>
		    <font size="+2">
	        <div class="input">
	            <label for="BOOK_code">BOOK_code</label>
	            <input type="text" id="BOOK_code" name="BOOK_code">
	        </div>

	 
	        
	       

		    <a href = "javascript:;" onclick = "this.href='/get-data/' + document.getElementById('BOOK_code').value">Find</a>
		    </font>
	        
	  </form>
	   
    </div>
  </div>
</div>
