

<br>
</br>





<h1> Search results... for Book code: <%= items.BOOK_code %></h1>
<br>
</br><br>
</br>
<ul>
  

	  <font size="+2">
   
      <p class="get"><br/>Book code: <%= items.BOOK_code %><br/>
      <br/>Book Name: <%= items.BOOK_name %><br/>
      <br/>Author: <%= items.Author %><br/></p>

      </font>
 


  
</ul>
