
<br>
</br>
<h1> List of all Books present in the system...</h1>
<br>
</br>


<ul>
  <% for(var person of items) { %>
  <li>
	  <font size="+2">

      <p class="get"><br/>Book code: <%= person.BOOK_code %><br/>
      <br/>Book Name: <%= person.BOOK_name %><br/>
      <br/>Author: <%= person.Author %><br/></p></li>

      </font>
      <% } %>
  


  
</ul>


