<br>
</br>

<h1> Help!!!</h1>
<br>
</br>
<p class="hell"> 1. Insert Books- You can directly Insert Books by clicking on the Insert Books Button on the Home page. The rights to use this will be provided only to the admin, but for now you can also insert books</p>

<p class="hell"> 2. search for Books- If you want to view all the books that are present in the liabrary then click on the (view all books) button on the home page </p>

<p class="hell"> 3. Update Books- You can directly Update Books by clicking on the Update Books Button on the Home page. The rights to use this will be provided only to the admin, but for now you can also Update books< </p>
<p class="hell"> 4. Find Books- You can find each book using its unique book code  </p>

<p class="hell"> 5. Issue Books- you can issue books(you have to enter the book_code that you want to issue. But the books we automatically get deissued in 1 min if you want to reissue(Renew) the book for more 1 min then click on the Renew button also if you want to return the book click on the return button</p>

<p class="hell"> 6. view-details- the book that you had issued will be presented here, but only for 1 min. Also the functionalities like renew and return will also be present here</p>

